{{ {
  "log-driver": "json-file",
  "log-opts": {
    "max-size": docker_log_max_size | string,
    "max-file": docker_log_max_file | string
  }
} | combine(docker_daemon_extra_options) | to_nice_json(indent=2) }}
